#response {
  transition: all 0.2s;
}
.navbar-default .navbar-brand {
  font-family: Homenaje;
  font-weight: 600;
  font-size: 1.9em;
  letter-spacing: 2px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;
}
